//! Подключкние шрифтов *********************************************************
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
}


//? Подключкние блоков **********************************************************
@import "_header";



body{
  font-family: Montserrat;
  font-weight: 400;
}

